extends layout

block content
    ReceiptMessage
        ReceivedMessage
            SentBy= TOTVSMessageReceiptMessageReceivedMessageSentBy
            UUID= TOTVSMessageReceiptMessageReceivedMessageUUID
        ReceiptData
            ReceivedOn= TOTVSMessageReceiptMessageReceiptDataReceivedOn