extends genericTransaction

block listOf
            ListOfCustomerInternalId
                each ProcessedInvoice in TOTVSMessageResponseMessageReturnContentListOfCustomerInternalId
                    CustomerInternalId= CustomerInternalId