extends layout
block content
    BusinessMessage
        BusinessRequest
            Operation= TOTVSMessageBusinessMessageBusinessRequestOperation
        BusinessContent
            CompanyId=  TOTVSMessageBusinessMessageBusinessContentCompanyId
            BranchId=   TOTVSMessageBusinessMessageBusinessContentBranchId
            CompanyInternalId=  TOTVSMessageBusinessMessageBusinessContentCompanyInternalId
            HotelInvoiceInternalId= TOTVSMessageBusinessMessageBusinessContentHotelInvoiceInternalId